<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"> 
    <title>Maison du monde scrapping</title>
</head>
<body>
    
    <h1>Here is the place to find the finnest mirror</h1>
    <h2>and the most confy carpet</h2>
    <div class='container'>
        <p>Enter your mail and you'll receive the latest news : </p>
        <form id="form_mail" method="post" action="/">
            <input id="mail" type="email" name="user_mail" id="" placeholder="Enter your email : ">
            <input type="submit" value="submit" id="btn" />
            <!-- <input id="btn" type="button" value="Submit"> -->
            <!-- <a href="/submit"><button id="btn" type="Submit">Submit</button></a> -->
        </form>

        
    </div>

    
</body>
</html>